.buttons {
  width: 100%;
  text-align: center;
}

.start-game {
  box-sizing: border-box;
  padding: 20px 25px;
  @include font($size: 24px);
  margin: 20px auto;
  width: 100%;
  max-width: 650px;
  height: 65px;
  background: $gradient-main;
  color: $color-light;
  border-radius: 10px;
  outline: 0;
  border-width: 1px;
  -webkit-transition: .3s;
  transition: .3s;

  @include media-mobile {
    max-width: 300px;
  }
}

.repeat {
  width: 65px;
  font-size: 0;
  background-image: url(/src/assets/img/repeat.svg), $gradient-main;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 32px 32px, cover;
  background-position: 50%;
}