.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  max-width: 1350px;
  margin: 40px auto 0;

  nav {
    cursor: pointer;
  }

  @media (max-width: 1080px) {
    max-width: 650px;
  }

  @media (max-width: 730px) {
    max-width: 300px;
  }
}