$color-light: #ffffff;
$color-card: #212529;
$gradient-main: linear-gradient(40deg, #ffd86f, #fc6262);
$border-radius-size: 5px;
$nav-width: 380px;

$laptop-width: 1430px;
$tablet-width: 1080px;
$mobile-big-width: 730px;