.container,
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 15px;
  max-width: 1440px;
  margin: auto;
}

.none {
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}

/*********
  Rating
 *********/
.rating {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  height: 40px;
  overflow-x: hidden;
  line-height: 36px;
  font-size: 36px;
  color: #fc6262;
}

.star-error, .star-success {
  flex-shrink: 0;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.star-error {
  background-image: url('/src/assets/img/star.svg');
}

.star-success {
  background-image: url('/src/assets/img/star-win.svg');
}
