.container,
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 15px;
  max-width: 1440px;
  margin: auto;
}

.none {
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}
